
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;    
    border-radius: 60px;
    margin-left: 73%;}

.button-link:hover {
    background-color: #0056b3}