.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 60px;
}

.button-link:hover {
    background-color: #0056b3;
}
.button1-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left:55%;
    border-radius: 60px;
}
 



.button1-link:hover {
    background-color: #0056b3;
}